.content {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}
#job{
	width:200px;
	position: relative;
	margin-left: 60%;
	margin-top: -20px;
	display: block;
}
.words {
    height: 100px;
    line-height: 100px;
}

.link {
    margin-top: 10px;
}
.contact li{
	list-style: none;
	display: inline-block;
	margin-right: 10px;
}
h2{
	text-align: left;
	font-size: 16px;
}
h3{
	text-align: left;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
}

.skill,.award,.project,.education{
	text-align: left;
}