<div class="banner">
    <nav class="navbar navbar-inverse banner-nav" role="navigation">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/about/">About</a></li>
            <li><a href="{{site.baseurl}}/blog/">Blog</a></li>
            <li><a href="#">Other</a></li>
        </ul>
    </nav>
    <h1>daisy 花园</h1>
    <h2>每天进步一小点</h2>
    <img id="baner-img" src="{{ site.baseurl }}/img/4.png">
</div>
